<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <div class="center">
  <ion-row>
    <h6 style="color:black">
      Please contact JHU Lighthouse Staff to recover your login information.
    </h6>
  </ion-row>
    <!--h6 style="color:black">
      Please provide the name or email address that you used to sign
      up for your account.
    </h6>

  </ion-row>

  <div class="loginform">
  <form [formGroup]="emailForm" (ngSubmit)="email()">
      <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Enter email" required></ion-input>
      </ion-item>
      <ion-button (click)="email()" type="submit" color="primary" expand="block">Send</ion-button>
  </form-->
</div>
</div>
</ion-content>
