.error {
  color: red;
  font-size: 10px;
  align-items: center;
  display: none;
}



input {
    /* border: 2px solid #000; */
    margin-top: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
}

div[id^='map'], div[id*=' map'] {
  height: 400px;
  width: 100%;
}



/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.stepDiv {
  text-align:center;margin-top:40px;
}

.rightFloat{
  float: right;
}

#emojis{
  list-style: none;
  margin: 0;
  padding:0;
}
#emojis li{
  float: left;
  margin: 0 10px;
}

#emojis li img{
  width: 20px;
  height:20px;
}
